# Dependencies
node_modules/

# Build output
dist/

# Development
*.log
.DS_Store
coverage/

# Playwright
playwright-report/
test-results/
.nyc_output

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 

